
// COLORS:

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey-light-1 : #f7f7f7;
$color-grey-light-2 : #eee;
$color-grey-light-3 : #ddd;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #444;
$color-grey-dark-4: #222;
$color-white: #fff;
$color-black: #000;


//SHADOWS
$shadow-light: rgba(0, 0, 0, 0.15);
$shadow-medium: rgba(0, 0, 0, 0.35);
$shadow-heavy: rgba(0, 0, 0, 0.55);


//FONT
$default-font-size: 1.6rem;


//BORDER RADIUS
$radius-small: .3rem;
$radius-meduim: .6rem;
$radius-large: 10rem;


//GRID
$grid-width: 114rem;
$grid-width-small: 57rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;