.popup {
    background-color: rgba($color-black, .8);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 9999;

    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__close {
        position: absolute;
        top: 2.5rem;
        right: 2.5rem;
        font-size: 2.5rem;
        color: $color-grey-dark;
        text-decoration: none;
        line-height: 1;

        &:hover {
            color: $color-primary-dark;   
        }
    }

    &__content {
        @include absoluteCenter;
        background-color: $color-white;
        width: 75%;
        box-shadow: 0 2rem 4rem $shadow-light;
        border-radius: $radius-small;
        display: table;
        overflow: hidden;

        opacity: 0;
        transform: translate(-50%, -20%) scale(.5);
        transition: all .3s ease-out;

        @include respond(tab-port) {
            height:auto;
        }
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__left {
        width: 33.3333333333%;
        display: table-cell;

        @include respond(tab-port) {
            width:100%;
            display: inline-block;
        }

        @include respond(phone) {
            display: none;
        }
        
    }

    &__right {
        width: 66.6666666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;

        @include respond(tab-port) {
            width:100%;           
            display: inline-block;
        }

    }

    &__image {
        display: block;
        width: 100%;

        @include respond(tab-port) {
            width:50%;
            display: inline-block;
            float: left;
        }

    }

    &__text {
        font-size: 1.4rem;
        padding-bottom: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-3;
        hyphens: auto;

        @include respond(phone) {
            column-count: 1;
        }
    }
}