
*,
 *::before,
 *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //this defines what 1rem is
    font-size: 62.5%; //1rem = 16px; 10px/16px = 62.5%

    @include respond (tab-land) {
        font-size: 56.25%; //1rem = 9px; 9px/16px = 56.25%
    }
    
    @include respond (tab-port) {
        font-size: 50%; //1rem = 8px; 8px/16px = 50%
    }

    @include respond (big-desktop) {
        font-size: 75%; //1rem = 12px; 12px/16px = 75%
    }

}

body {
    box-sizing: border-box;
    padding: 1.5rem;

    @include respond (tab-land) {
        padding: 0;
    }

}